{% load i18n static %}
{% load mocambos_extra %}
{% if entries %}
<div class="hero-unit">

  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    
    {% for entry in entries %}
    <div class="carousel-inner">
      <div class="item">
        {% if entry.image %}
        <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">
          {% load thumbnail %}
          <img src="{% thumbnail entry.image 320x240 crop %}" alt="{{ entry.title }}" />
        </a>
        {% endif %}
        <div>
          <h2>
            <a href="{{ entry.get_absolute_url }}" rel="bookmark" title="{{ entry.title }}">{{ entry.title }}</a>
          </h2>
          {{ entry.excerpt|cut:"&nbsp;"|striptags|linebreaks|truncatewords_html:30 }}
        </div>
      </div>
    </div>
    {% endfor %}
    
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

</div>
{% endif %}
