BeautifulSoup==3.2.1
Django==1.4.2
MySQL-python==1.2.3
Pillow==1.7.7
South==0.7.6
cmsplugin-zinnia==0.3
distribute==0.6.28
django-blog-zinnia==0.11.2
django-classy-tags==0.3.4.1
django-cms==2.3.3
-e git://github.com/philomat/django-media-tree#egg=django_media_tree
django-mptt==0.5.4
django-sekizai==0.6.1
django-tagging==0.3.1
django-xmlrpc==0.1.4
easy-thumbnails==1.1
feedparser==5.1.2
html5lib==0.95
pyparsing==1.5.6
pytz==2012d
wsgiref==0.1.2
django-cms-pagetags==0.1.6
