{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
    {% render_block "css" %}
    {% render_block "js" %}
  </head>
  <body>
    {% cms_toolbar %}
    {% page_attribute "page_title" %}
    {% page_attribute "slug" request.current_page.get_root %}
    {% placeholder base_content %}
    {% block base_content%}{% endblock %}
    <ul>
      {% show_menu 0 100 0 1 %}
    </ul>
  </body>
</html>


{% addtoblock "css" %}
    <link href="{{ STATIC_URL }}css/mocambos_slider.css" media="screen" rel="stylesheet" type="text/css" />
{% endaddtoblock %}

{% addtoblock "js" %}
    <script type="text/javascript">
            var _jQuery = window.jQuery || null;
            var _$ = window.$;
    </script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}admin/js/jquery.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/jquery.cookie.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{{ STATIC_URL }}cms/js/libs/classy.min.js"></script>
{% endaddtoblock %}
