{% extends "base.html" %}
{% load cms_tags zinnia_tags sekizai_tags%}

{% block base_content %}

  <div class="row">
    <div class="span3" id="cabecalho">
      {% placeholder cabecalho %}
    </div>

    <div class="span9" style="margin-top: -10px">
      {% placeholder destaque %}
    </div>
  </div>
  
  <div class="row">
      <div id="galeria">
	{% placeholder galeria %}
      </div>
  </div>
  
  <div class="row">
    <div class="span6" id="ultimasnoticias">
      {% placeholder ultimasnoticias %}
    </div>
    
    <div class="span6" id="etiquetaemdestaque">
      {% placeholder etiquetaemdestaque %}
    </div>
  </div>
  <div class="row">
    <div class="span12" id="rodape">
      {% placeholder rodape %}
    </div>
  </div>
  

{% endblock %}
