{% extends "base.html" %}
{% load cms_tags zinnia_tags sekizai_tags %}

{% block base_content %}

<!-- <div class="row">
    {% placeholder cabecalho %}
</div>
-->

<div class="row">
  <div class="span12" style="margin-top: -10px">
      {% placeholder destaque %}
  </div>

<!--      {% include "mocambos_tag_cloud.html" %}  -->

</div>

<div class="row-fluid">
      {% placeholder ultimasnoticias %}
</div>

<div class="row-fluid">
  <div class="span12" style="padding: 8px 12px 0px 12px; margin-top: 10px; margin-bottom: 10px; background-color: #ffe680; -moz-border-radius: 10px; border-radius: 10px;">
    <h2>Olhares da Rede..</h2>
    {% placeholder galeria %}
    </div>
</div>

      {% placeholder etiquetaemdestaque %}

      {% placeholder rodape %}

{% endblock %}


<!--      {% include "mocambos_jplayer.html" %} -->

<!--      {% include "mocambos_login_box.html" %} -->
