{% extends "base.html" %}
{% load cms_tags zinnia_tags sekizai_tags %}

{% block base_content %}

<div class="row">
    {% placeholder cabecalho %}
</div>

<div class="row">
      {% placeholder destaque %}
<!--      {% include "mocambos_tag_cloud.html" %}  -->

</div>

<div class="row" style="margin: -10px 0px 0px 0px; padding: 14px; background-color: #ffe680; -moz-border-radius: 10px; border-radius: 10px;">
  <h2>Olhares da Rede..</h2>
      {% placeholder galeria %}
</div>

<div class="row">
      {% placeholder ultimasnoticias %}
</div>

      {% placeholder etiquetaemdestaque %}

      {% placeholder rodape %}
{% endblock %}


<!--      {% include "mocambos_jplayer.html" %} -->

<!--      {% include "mocambos_login_box.html" %} -->
